In [2]:
import pandas as pd
filePath = 'C:\\Users\\ps51533.IND\\Desktop\\xyz.csv'
csv = pd.read_csv(filePath)
print(csv)

   businessUnit\tday_capping\tweek_capping
0                       ZENAU\t8.00\t40.00
1                       ZENCH\t8.00\t40.00
2                       ZENIN\t8.00\t40.00
3                       ZENJP\t8.00\t40.00
4                       ZENME\t8.00\t40.00
5                       ZENSA\t8.00\t40.00
6                       ZENSG\t8.00\t40.00
7                       ZENUK\t8.00\t40.00
8                       ZENUS\t8.00\t40.00
9                       ZIMNL\t8.00\t40.00
10                      ZIMUK\t8.00\t40.00
11                      ZIMUS\t8.00\t40.00

In [5]:
csv.head() #First 5 roles

  businessUnit\tday_capping\tweek_capping
0                      ZENAU\t8.00\t40.00
1                      ZENCH\t8.00\t40.00
2                      ZENIN\t8.00\t40.00
3                      ZENJP\t8.00\t40.00
4                      ZENME\t8.00\t40.00

In [6]:
csv.head(10)

  businessUnit\tday_capping\tweek_capping
0                      ZENAU\t8.00\t40.00
1                      ZENCH\t8.00\t40.00
2                      ZENIN\t8.00\t40.00
3                      ZENJP\t8.00\t40.00
4                      ZENME\t8.00\t40.00
5                      ZENSA\t8.00\t40.00
6                      ZENSG\t8.00\t40.00
7                      ZENUK\t8.00\t40.00
8                      ZENUS\t8.00\t40.00
9                      ZIMNL\t8.00\t40.00

In [9]:
csv_Frame = pd.DataFrame(csv)
print(csv_Frame)

   businessUnit\tday_capping\tweek_capping
0                       ZENAU\t8.00\t40.00
1                       ZENCH\t8.00\t40.00
2                       ZENIN\t8.00\t40.00
3                       ZENJP\t8.00\t40.00
4                       ZENME\t8.00\t40.00
5                       ZENSA\t8.00\t40.00
6                       ZENSG\t8.00\t40.00
7                       ZENUK\t8.00\t40.00
8                       ZENUS\t8.00\t40.00
9                       ZIMNL\t8.00\t40.00
10                      ZIMUK\t8.00\t40.00
11                      ZIMUS\t8.00\t40.00

In [15]:
songs = {'Album':['Thriller','Back in Black','The Dark Side of Moon','Bat out of Hell'],
     'Released':[2019,2012,2030,2059],
     'Length':['00:35:19','00:35:00','00:55:19','00:45:19']}
songDF = pd.DataFrame(songs)

In [16]:
print(songDF)

                   Album  Released    Length
0               Thriller      2019  00:35:19
1          Back in Black      2012  00:35:00
2  The Dark Side of Moon      2030  00:55:19
3        Bat out of Hell      2059  00:45:19

In [17]:
lenDF = songDF[['Length']]
print(lenDF)

     Length
0  00:35:19
1  00:35:00
2  00:55:19
3  00:45:19

In [18]:
albumReleaseDF = songDF[['Album','Released']]
print(albumReleaseDF)

                   Album  Released
0               Thriller      2019
1          Back in Black      2012
2  The Dark Side of Moon      2030
3        Bat out of Hell      2059

In [21]:
printsongDF.ix[0,0]

NameError: name 'printsongDF' is not defined

In [28]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [35]:
a = {'a':[21,32,21,212,342,21,2,121,21,12,21,12]}
adf = banana.DataFrame(a)
print(adf)

      a
0    21
1    32
2    21
3   212
4   342
5    21
6     2
7   121
8    21
9    12
10   21
11   12

In [39]:
adf['a'].unique()

array([ 21,  32, 212, 342,   2, 121,  12], dtype=int64)

In [51]:
import pandas as pd 
df = pd.DataFrame({'a':[1,2,3,4,5,3,2,1],'b':['asdasd','sdasd','dsfsdf','sdfsdfdsf','asdasd','sdfdsdf','adsasd','asdasdsa']})
df3 = df[df['a']>3]
print(df3)
print(df3.to_csv('new.csv'))

   a          b
3  4  sdfsdfdsf
4  5     asdasd
None

In [56]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool