In [5]:
a ="Pratik"
print(a)

Pratik

In [6]:
a[0]

'P'

In [7]:
a[-1]

'k'

In [8]:
a[::2]

'Pai'

In [10]:
a[-1::2]

'k'

In [11]:
len(a)

6

In [14]:
b = a + " Sayanekar"
b

'Pratik Sayanekar'

In [15]:
2* b

'Pratik SayanekarPratik Sayanekar'

In [16]:
print("Michael Jackson \n is best")

Michael Jackson
 is best

In [17]:
print("Michael Jackson \t is best")

Michael Jackson 	 is best

In [18]:
print("Michael Jackson \\ is best")

Michael Jackson \ is best

In [19]:
print("Michael Jackson \ is best")

Michael Jackson \ is best

In [22]:
A = "My Name is Pratik"
B = A.upper()
B

'MY NAME IS PRATIK'

In [23]:
A.replace("Pratik","Rahul")

'My Name is Rahul'

In [24]:
A

'My Name is Pratik'

In [25]:
A.find("am")

4

In [26]:
A.find('Z')

-1

In [28]:
A.find('AM')

-1

In [31]:
Numbers="0123456"
Numbers[::2]

'0246'

In [32]:
"0123456".find('1')

1

In [33]:
print(r" \ ")

 \

In [34]:
3 + 2 * 2

7

In [35]:
name = "Lizz"
name[0:2]

'Li'