In [ ]:
#Tuples are ordered sequence.
#Tuples are written in coma seperated elements with paranthesis

Ratings = (1,2,3,4,4,5)
Ratings

In [ ]:
tuple1 = (1,"Pratik",False,1.8)
tuple1

In [ ]:
type(tuple1)

In [ ]:
tuple1[0]

In [ ]:
tuple1[-2]

In [ ]:
tuple2 = tuple1 + ("Rahul",99.999)
tuple2

In [21]:
print(tuple2)
tuple2[:3]

(1, 'Pratik', False, 1.8, 'Rahul', 99.999)

(1, 'Pratik', False)

In [22]:
len(tuple2)

6

In [23]:
tuple2[3:len(tuple2)]

(1.8, 'Rahul', 99.999)

In [25]:
sortedTuple = sorted(tuple2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [29]:
tuple3 = (15,-18,-45,0,99)
sortedTuple3 = sorted(tuple3)
sortedTuple3

[-45, -18, 0, 15, 99]

In [35]:
tuple3 = tuple3 + (99.99, 15)
tuple3
# we cannot add only int or float to tuple but we can append another tuple to existing tuple.

(15, -18, -45, 0, 99, 99.99, 15, 99.99, 15, 99.99, 15)

In [37]:
sortedTuple3 = sorted(tuple3)
sortedTuple3

[-45, -18, 0, 15, 15, 15, 15, 99, 99.99, 99.99, 99.99]

In [44]:
#tuple Nesting

NT = (1,"Pratik",("ADS",99.99),False, (True, (False, True)))
print(NT[2])
print(NT[2][1])

('ADS', 99.99)
99.99

In [47]:
print(NT[len(NT)-1])

(True, (False, True))

In [50]:
print(NT[len(NT)-1][1])

(False, True)

In [51]:
print(NT[len(NT)-1][1][1])

True

In [54]:
#List: ordered Sequence
#List : Represented same as tuple but surrounded by [] paranthesis
#Only difference is list are mutable while tuples are str are immutable.
List1 = ["Pratik Sayanekar",1, 99.99,["Rahul","Sayanekar"],(1,2,False)]
print(List1)

['Pratik Sayanekar', 1, 99.99, ['Rahul', 'Sayanekar'], (1, 2, False)]

In [55]:
#we can concat existing list with some other list

In [58]:
List1.extend([True,123])
print(List1)

['Pratik Sayanekar', 1, 99.99, ['Rahul', 'Sayanekar'], (1, 2, False), True, 123, True, 123, True, 123]

In [60]:
List1.append(["Hallelujah",'Tesla',False]) 
print(List1)

['Pratik Sayanekar', 1, 99.99, ['Rahul', 'Sayanekar'], (1, 2, False), True, 123, True, 123, True, 123, ['Hallelujah', 'Tesla', False], ['Hallelujah', 'Tesla', False]]

In [61]:
#Difference between append and extend
#by using extend we extend the list, i.e. list size goint to increase by the size of extended list.
# by using append, we append the list element with another list. that element type would be list.

In [62]:
#every time we apply any method to list ,then the list itself changes, that is mutable behaviour of the list.

In [65]:
List1[len(List1)-1] = "HardRock"
print(List1)

['Pratik Sayanekar', 1, 99.99, ['Rahul', 'Sayanekar'], (1, 2, False), True, 123, True, 123, True, 123, 'HardRock']

In [67]:
del(List1[len(List1)-2])
print(List1)

['Pratik Sayanekar', 1, 99.99, ['Rahul', 'Sayanekar'], (1, 2, False), True, 123, True, 123, 'HardRock']

In [69]:
"Hard Rock".split()

['Hard', 'Rock']

In [70]:
type("Hard Rock".split())   #it sepeartes every element by space

list

In [71]:
"A,B,c,D".split(",")

['A', 'B', 'c', 'D']

In [73]:
clonedList = List1[:]
print(clonedList) # cloned list are comlpetely different list, by changing original list element wont affect clonedList.

['Pratik Sayanekar', 1, 99.99, ['Rahul', 'Sayanekar'], (1, 2, False), True, 123, True, 123, 'HardRock']

In [76]:
A = ["Hard Rock",12]
B = [A,False]
print(A)
print(B)

['Hard Rock', 12]
[['Hard Rock', 12], False]

In [78]:
A[1] = "Banana"
print(A)
print(B)

['Hard Rock', 'Banana']
[['Hard Rock', 'Banana'], False]

In [79]:
print(List1)
print(clonedList)

['Pratik Sayanekar', 1, 99.99, ['Rahul', 'Sayanekar'], (1, 2, False), True, 123, True, 123, 'HardRock']
['Pratik Sayanekar', 1, 99.99, ['Rahul', 'Sayanekar'], (1, 2, False), True, 123, True, 123, 'HardRock']

In [80]:
List1[0]="Michael Jackson"

In [81]:
print(List1)
print(clonedList)

['Michael Jackson', 1, 99.99, ['Rahul', 'Sayanekar'], (1, 2, False), True, 123, True, 123, 'HardRock']
['Pratik Sayanekar', 1, 99.99, ['Rahul', 'Sayanekar'], (1, 2, False), True, 123, True, 123, 'HardRock']